@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: whitesmoke;
  font-family: "Montserrat", sans-serif;
}

body,
html,
#root {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

button {
  underline: none;
  border: none;
}
